extends layout

block content
    title Authorize calendar synchronization

    h1 Authorize calendar synchronization
    p Please go to #{authUrl}, copy the code there and then go to /sync/auth/:code. Thanks!